.contenido{
    display: flex;
    max-width: 300px;
    align-items: center;
    justify-content: center;
}

.items{
    max-width: 100%;
    width: 100%;
}

.texto{
    font-size: 20px;
    font-weight: 500;
}

.back{
    background: linear-gradient(to bottom right, rgb(7, 173, 238), rgb(155, 35, 202));
    width: 100vw;
    height: 100vh;
    
}

